@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* --black: hsla(0, 0%, 0%, 1);
    --rich-black: hsla(232, 29%, 10%, 1);
    --cool-gray: hsla(240, 18%, 61%, 1);
    --periwinkle: hsla(269, 100%, 90%, 1);
    --mint: hsla(170, 100%, 37%, 1);
    --aquamarine: hsla(168, 87%, 58%, 1);
    --electric-blue: hsla(180, 100%, 74%, 1);
    --white: hsla(0, 0%, 100%, 1); */

    --background: 0 0% 98%;
    --foreground: 232, 29%, 10%;

    --card: 0 0% 98%;
    --card-foreground: 232, 29%, 10%;

    --popover: 0 0% 98%;
    --popover-foreground: 232, 29%, 10%;

    --primary: 232, 29%, 10%;
    --primary-foreground: 0 0% 98%;

    /* --secondary: 170, 100%, 37%; */
    --secondary: 168, 87%, 58%;
    --secondary-foreground: 0 0% 9%;

    --muted: 240, 18%, 47%;
    /* --muted: 240, 18%, 61%; */
    --muted-foreground: 0 0% 96.1%;
    /* --muted: 0 0% 96.1%; */
    /* --muted-foreground: 0 0% 45.1%; */

    --accent: 269, 100%, 90%, 1;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 232, 29%, 10%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 232, 29%, 10%;
    --foreground: 0 0% 98%;

    --card: 232, 29%, 10%;
    --card-foreground: 0 0% 98%;

    --popover: 232, 29%, 10%;
    --popover-foreground: 0 0% 98%;

    --primary: 168, 87%, 58%, 1;
    --primary-foreground: 232, 29%, 10%;

    --secondary: 0 0% 9%;
    --secondary-foreground: 168, 87%, 58%;

    --muted: 232, 29%, 84%;
    /* --muted: 0 0% 14.9%; */
    --muted-foreground: 0 0% 63.9%;

    --accent: 0, 97%, 77%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 168, 87%, 58%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
